.header {
    background-color: #212529;
    color: white;
    font-weight: 500;
    font-size: 4em;
    height: 20%;
    text-align: center;
  }
  .center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }
.intro {
  height: 100%;
}

table{
    color: #212529;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:20px;
}
.color{
    color: #212529;
}
thead th,
tbody th {
  color: #212529;
  font-size: 1.5em;
  width: 20px;
}

tbody td {
  font-weight: 400;
  font-size: 1.5em;
  color: #212529;
}

#small td{
  font-size: 1em;
  padding-right: 20px;
}